### Below will ignore all files without extension ###
# Ignore all
*
## Ignore replit extra stuff
*cache*
.vscode

# Unignore all with extensions
!*.*
!input*
!Makefile
!CMake*

# Unignore all dirs
!*/
#####################################################

*.out
*/bin/*
*/build/*
*.o

## Ignores for replit
.ccls-cache
/*cache*/
.vscode
.vscode/
*/.ipynb_checkpoints/

## Ignore trajectory
trajectory*.dat

## Ignore intermediate files
*.gch *.out *.o
*/blank/
*/managerExample/plots/