### Below will ignore all files without extension ###
# Ignore all
*

# Unignore all with extensions
!*.*
!input*
!Makefile
!CMake*

# Unignore all dirs
!*/
#####################################################

*.out
*/bin/*
*/build/*
*.o
